{% extends 'admin/admin.html.twig' %}

{% block title "Créer un pays" %}


{% block body %}

   <h1>Créer un nouveau pays</h1>

   {# {{ form (form) }} #}
   {{ form_start(form) }}
   <div class="row">
    <div class="col">{{ form_row(form.name) }}</div>
    <div class="col">{{ form_row(form.code) }}</div> 
</div>
{{ form_rest(form) }}
   
 {% endblock %}
 