{% extends 'admin/admin.html.twig' %}

{% block title "Modifier le pays : " ~ country.name  %}


{% block body %}

   <h1>Modifier le pays : {{country.name }}</h1>

  
    {{ form_start(form) }}
<div class="row">
    <div class="col">{{ form_row(form.name) }}</div>
    <div class="col">{{ form_row(form.slug) }}</div> 
</div>
{{ form_rest(form) }}

 

 {% endblock %}
 