{% extends 'base.html.twig' %}

{% block title 'Nouvelle réservation' %}

{% block body %}
    <h1>Nouvelle réservation</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.user) }}
            {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.habitat) }}
            {{ form_widget(form.habitat, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.startDate) }}
            {{ form_widget(form.startDate, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.endDate) }}
            {{ form_widget(form.endDate, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.totalPrice) }}
            {{ form_widget(form.totalPrice, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.isPaid) }}
            {{ form_widget(form.isPaid, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-success">Réserver</button>
    {{ form_end(form) }}
{% endblock %}
