{% extends 'base.html.twig' %}

{% block title 'Détails de la réservation' %}

{% block body %}
    <h1>Détails de la réservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ reservation.user.username }}</td>
            </tr>
            <tr>
                <th>Habitat</th>
                <td>{{ reservation.habitat.title }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ reservation.startDate|date('Y-m-d H:i') }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ reservation.endDate|date('Y-m-d H:i') }}</td>
            </tr>
            <tr>
                <th>Prix total</th>
                <td>{{ reservation.totalPrice }}</td>
            </tr>
            <tr>
                <th>Payé</th>
                <td>{{ reservation.isPaid ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservation_index') }}" class="btn btn-primary">Retour à la liste</a>
    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}" class="btn btn-primary">Éditer</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
