{% extends 'admin/admin.html.twig' %}

{% block title "Créer un nouvel habitat" %}


{% block body %}

   <h1>Créer un nouvel habitat</h1>

   {# {{ form (form) }} #}

 {{ form_start(form) }}
<div class="row">
    <div class="col">{{ form_row(form.title) }}</div>
    <div class="col">{{ form_row(form.slug) }}</div> 
</div>
<div class="row">

     <div class="col">{{ form_row(form.address) }}</div>
    </div>
<div class="row">

    <div class="col">{{ form_row(form.ville) }}</div>
    <div class="col">{{ form_row(form.content) }}</div>
    </div>

    <div class="row">

    <div class="col">{{ form_row(form.category) }}</div>
    <div class="col">{{ form_row(form.capacity) }}</div>
    </div>

    <div class="row">

    <div class="col">{{ form_row(form.nombreDeCouchage) }}</div>
    <div class="col">{{ form_row(form.price) }}</div>
    </div>

{{ form_rest(form) }}
{% endblock %}

   
 